{{#each this}}
<div class="list-box">
    <ul>
        <li>
            <div class="box-list-item">
                <div class="box-name">
                    <p class="box-text">{{this.name}}</p>
                </div>
                <div><img src=" {{flag}}" alt="{{this.name}}" width="30px"></div>
            </div>

        </li>

    </ul>

    {{/each}}